@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-project: #004aad;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
